<head>
    <title>{{ page.title }} in {{ site.title }}</title>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="canonical" href="{{ page.url | absolute_url }}" />
    <link href="{{ site.url }}/css/style.css" rel="stylesheet" /> {% seo %} {% feed_meta %}
</head>